@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.form-block {
    width: 100%;
    height: 611px;
    background-color: $blue;
    @include mixins.flex(row, center, center);

    @media (max-width: 600px) {
        height: 590px;
    }

    .form-block-container {
        width: 100%;
        height: 602px;
        max-width: 1200px;

        @media (max-width: 1260px) {
            width: calc(100% - 120px);
            margin: auto 60px;
        }

        @media (max-width: 700px) {
            width: calc(100% - 32px);
            margin: auto 16px;
            height: 100%;
        }

        @media (max-width: 375px) {
            width: 100%;
            margin: 0;
        }

        .form-content-box {
            height: 100%;
            margin-top: -210px;
            position: relative;
            overflow: hidden;

            @media (max-width: 900px) {
                margin-top: -90px;
            }

            @media (max-width: 600px) {
                margin-top: -157px;
            }

            @media (max-width: 375px) {
                margin-top: 0px;
            }
            
            .form-background-first,
            .form-background-second {
                position: absolute;
            }

            .form-content {
                width: 372px;
                margin: 65px 0 0 67px;
                color: $black;
                position: relative;
                z-index: 50;
                @include mixins.flex(column, flex-start, flex-start);

                @media (max-width: 600px) {
                    margin: 115px 0 0 20px;
                }

                @media (max-width: 450px) {
                    width: calc(100% - 40px);
                    margin: 147px 20px 0 20px;
                }
            }
        }
    }
}

.form-background-first { 
    width: 100%;
    height: 200%;
    z-index: 3;
    top: -100%;
    left: -58.5%;
    transform: rotate(37deg);

    @media (max-width: 1200px) {
        left: -40%;
    }

    @media (max-width: 850px) {
        transform: rotate(21deg);
    }

    @media (max-width: 800px) {
        transform: rotate(29deg);
        left: -33%;
    }
    
    @media (max-width: 700px) {
        transform: rotate(25deg);
        left: -36%;
    }

    @media (max-width: 600px) {
        width: 200%;
        transform: rotate(10deg);
        left: -30%;
        top: 30%;
    }

    @media (max-width: 450px) {
        transform: rotate(12deg);
        left: -65%;
        top: 120px;
    }

    div {
        width: 100%;
        height: 100%;
        background-color: $light-green;
    }
}

.form-background-second { 
    width: 89%;
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0;

    @media (max-width: 600px) {
        width: 100%;
    }

    div {
        height: 100%;
        background-image: url('../../images/second-background.jpeg');
        background-repeat: no-repeat;
        background-size: auto 180%;
        background-position: 1% 1% ;

        @media (max-width: 1100px) {
            background-size: auto 150%;
        }

        @media (max-width: 950px) {
            background-size: auto 120%;
        }

        @media (max-width: 800px) {
            background-position: 14% 1% ;
        }

        @media (max-width: 600px) {
            background-size: 150% auto;
            background-position: 1% 1% ;
        }

        @media (max-width: 450px) {
            background-size: 170% auto;
            background-position: 14% -3% ;
        }
    }
}

.form-content {

    h5 {
        margin: 0 0 16px 0;
        text-transform: uppercase;
        @include mixins.font(Londrina Solid, 55px, normal, 400, 80%);

        @media (max-width: 600px) {
            @include mixins.font(Londrina Solid, 50px, normal, 400, 80%);
        }

        @media (max-width: 450px) {
            margin: 0 0 8px 0;  
        }
    }

    p {
        margin: 0 0 32px 0;
        @include mixins.font(Kumbh Sans, 16px, normal, 400, 140%);

        @media (max-width: 450px) {
            margin: 0 0 24px 0;  
        }
    }

}