@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.loop {
    height: 100%;
    gap: 60px;
    margin: 0 30px 0 30px;
    @include mixins.flex(row, start, center);

    @media (max-width: 650px) {
        gap: 32px;
        margin: 0 16px 0 16px;
    }

    span {
        color: $white;
        white-space: nowrap;
        @include mixins.font(Kumbh Sans, 20px, normal, 400, normal);

        @media (max-width: 650px) {
            @include mixins.font(Kumbh Sans, 16px, normal, 400, 140%);
        }
    }
}