@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.benefits-block {
    width: 100%;
    height: auto;
    padding: 164px 0 69px 0;
    background-color: $light-green;
    color: $black;
    @include mixins.flex(column, start, center);

    @media (max-width: 650px) {
        padding: 72px 0 36px 0;
    }

    .benefits-block-container {
        width: 100%;
        max-width: 1200px;

        @media (max-width: 1260px) {
            width: calc(100% - 120px);
            margin: auto 60px;
        }

        @media (max-width: 650px) {
            width: calc(100% - 32px);
            margin: auto 16px;
            @include mixins.flex(column, start, center);
        }

        h4 {
            margin: 0 0 64px 0;
            text-transform: uppercase;
            @include mixins.font(Londrina Solid, 55px, normal, 400, 80%);
        }

        .benefits-cards-block {
            @include mixins.flex(row, space-between, center);

            @media (max-width: 1100px) {
                width: 90%;
                flex-wrap: wrap;
            }

            @media (max-width: 900px) {
                width: 100%;
            }

            @media (max-width: 650px) {
                @include mixins.flex(column, space-between, center);
            }
        }
    }
}